* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Verdana, Arial;
}

/*-------------- header -----------------------------*/
#seccion-header {
    height: 47px;
    min-width: 400px;
    background-color: #00034A;
    border-bottom: 1px solid #0008C5;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
}

#header-titulo {
    padding: 10px;
}

#titulo {
    color: #fff;
    display: inline-block;
}

#navicon {
    color: #fff;
    font-size: 1.3rem;
    display: none;
    margin-right: 10px;
    cursor: pointer;
}

/*-------------- fin header -----------------------------*/

/*-------------- seccion-contenido ----------------------*/
#seccion-contenido {
    /*margin-top: 47px;*/
    height: -moz-calc(100% - 47px);
    height: -webkit-calc(100% - 47px);
    height: calc(100% - 47px);
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;

}

/*--------------- panel menu ----------------------------*/
#panel-menu {

    height: 100%;
    width: 20%;
    max-width: 400px;
    background-color: #fff;
    /*float: left;*/
    position: absolute;
    overflow: hidden;
    /*top:0px;
    left:0px;*/
    z-index: 3;

}

#perfil-usuario {
    /*height: 70px*/
    padding: 8px 0px 8px 10px;
    background-color: #000;

}

#panel-img-usuario {
    /*float: left;*/
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;

}

#img-usuario {
    width: 100%;


}

#panel-info-usuario {
    /*float: right;*/
    display: inline-block;
    /*width: 70%;*/
    color: #fff;
    position: relative;
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);

}

#nombre-usuario {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;


}

#rol-usuario {
    font-weight: normal;
}

#icono-estado {
    width: 8px;
    height: 8px;
    background-color: #0f0;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

#msg-estado, #salir {
    font-size: 11px;
    /*display: none;*/
    color: #aaa;
}

#salir {
    margin-left: 10px;
    text-decoration: none;
}

#salir:hover {
    color: #fff;
}

#seccion-menu {
    background-color: #fff;
    height: calc(100% - 81px);
    height: -moz-calc(100% - 81px);
    height: -webkit-calc(100% - 81px);
    height: -o-calc(100% - 81px);
    overflow-y: scroll;
}

#seccion-menu > nav > ul > li {
    list-style: none;
    border-bottom: 1px solid #dedede;
    border-left: 4px solid #fff;
}

#seccion-menu > nav > ul > li:hover {
    background-color: #ededed;
    border-left: 4px solid #0f0;
}

.menu-opcion-seleccionada {
    background-color: #ededed;
    border-left: 4px solid #0f0 !important;

}

.submenu-opcion-seleccionada {
    color: /*#0f0*/ #00034a !important;
    background-color: #ddd !important;
}

#seccion-menu > nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #555;
}

#seccion-menu > nav > ul > li > a:hover {

    color: #222;
}

.wrapermenu-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 8px;
}

.submenu-icon {
    font-size: 1.5rem;
}

.menu-icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.submenu {
    background-color: #f8f8f8;
    /*display: none;*/
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease;
    -moz-transition: max-height 0.2s ease;
    transition: max-height 0.2s ease;
}

.show-submenu {
    /*display: block !important;*/
    max-height: 1000px;
    -webkit-transition: max-height 0.2s ease;
    -moz-transition: max-height 0.2s ease;
    transition: max-height 0.2s ease;

}

.submenu > li > a {
    padding-left: 20px;
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    padding-bottom: 3px;
}

.submenu > li > a:hover {
    color: #222;
    background-color: #f0f0f0;
}

/*------------- fin panel menu ----------------------------*/

/*--------------- panel viewport ----------------------------*/
#panel-viewport {
    /*display: inline-block;*/
    /*float:right;*/
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    /*height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    display: block;*/
}

iframe {
    width: 100%;
    border: none;
    height: 100%;
    /*padding: 0px 2px*/
}
