/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/
*{
   margin:0px;
   padding: 0px;
}
body{
   background-color: #FFF;
   font-family: "Segoe UI", Verdana, sans-serif, Arial;
}
div.header{
   padding: 10px 0px;
   background-color: #112056;
   margin-bottom: 20px;
   border-bottom: 1px solid #0000B3;
}
div.header h3{
  
   color:#fff;
   text-align: center;
   /*font-family: Verdana, sans-serif*/
}
div.msg-error p{
   text-align: center;
   margin-bottom: 10px;
   color:orange;
   font-style:italic;
}

#div-logo{
  text-align: center;
  margin-bottom: 20px;
}

#fg_membersite fieldset
{
   width: 200px;
   margin:auto;
   padding:20px;
   border:1px solid #E3E3E3;
/*-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px; */  
}



/*#fg_membersite legend, #fg_membersite h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}*/

#fg_membersite label
{
   margin-bottom: 4px;
   display: block;
   /*font-family : Verdana,sans-serif;*/
   /*font-size:0.9em;*/
   /*font-weight: bold;*/
   color:#565656;   
   text-align: left;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{
  display: block;
  width: 94%;
  padding: 4px;
  margin-bottom: 10px;
  font-weight:bold;
  /*font-family : Arial, Verdana, sans-serif;*/
  /*font-size: 0.8em;*/
  color : #222; 
  border : 1px solid #cecece;
  /*  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/

  /*! box-shadow: 0px 0px 4px #67fb00; */
}
input[type=submit]
{
   padding: 10px;
   margin-top:40px;
   display: block;
   width:100%;
   background-color: /*#00A500;*/#112056;
   border:none;
   color: #fff;
   /*font-family:Verdana;
   font-weight: bold;
   font-size:0.9rem;*/
   border-radius: 0px;
   cursor:pointer;
   
}
input[type=submit]:hover{
   background-color: /*#00ff00;*/#0000B3;
}

#fg_membersite input[type="text"]:hover,#fg_membersite input[type="password"]:hover{
  border : 1px solid #bbb;
}
#fg_membersite input[type="text"]:focus,
#fg_membersite textarea:focus,#fg_membersite input[type="password"]:focus
{
  border : 1px solid /*#00A500;*/ #0000B3;  
  
}

div.footer{
   padding: 20px 0px;
}

div.footer h3{
   color: #484848;
   font-family: Verdana, sans-serif;
   font-size: 0.85rem;
   text-align: center;
}
div.footer h5{
   color: #484848;
   font-family: Verdana, sans-serif;
   font-size: 0.6rem;
   text-align: center;
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_membersite  #fg_crdiv p
{
    display:none;
}

#fg_membersite_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
#fg_membersite_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

#fg_membersite_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}
#footer {
	height: 100px;
	padding: 20px;
	background: #2D2D2D url(img/img07.gif) repeat-x;
}