
#titulo{
	color:#fff;
	display: inline-block;
}
#navicon{
	
	display: inline-block;
	
}
/*-------------- fin header -----------------------------*/

/*--------------- panel menu ----------------------------*/
#panel-menu{
	width: 100%;
	/*float: left;*/
	/*clear: left;*/
	position: absolute;
	left: -100%;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}
.show-panel-menu{
	left: 0 !important;
}
/*#perfil-usuario{
	
	padding: 8px 0px 8px 10px;;
	
}*/
/*#panel-img-usuario{
	
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	margin-right: 10px;
	
}*/
/*#img-usuario{
	width: 100%;
	border-radius: 50%;
	
}*/
/*#panel-info-usuario{
	
	display: inline-block;
	
	color:#fff;
	position: relative;
	
}
#icono-estado{
	width: 8px;
	height: 8px;
	background-color: #0f0;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
}
#msg-estado, #salir{
	font-size: 11px;
	display: inline-block;
	color:#555;
}
#salir{
	margin-left: 10px;
	text-decoration: none;
}
#salir:hover{
	color:#fff;
}
#seccion-menu{
	background-color: #fff;
}

#seccion-menu nav ul li{
	list-style: none;
	border-bottom: 1px solid #dedede;
	border-left: 4px solid #fff;
}
#seccion-menu nav ul li:hover{
	background-color: #ededed;
	border-left: 4px solid #0f0;
}
.menu-opcion-seleccionada{
	background-color: #ededed;
	border-left: 4px solid #0f0 !important;
	color: #222 !important;
}
#seccion-menu nav ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #555;
}
#seccion-menu nav ul li a:hover{
	
	color: #222;
}
.menu-icon{
	font-size: 1.5rem; margin-right: 10px;
}
*/

/*------------- fin panel menu ----------------------------*/

/*--------------- panel viewport ----------------------------*/
#panel-viewport{
	
	/*float:right;*/
	/*clear: right;*/
	/*width:80%;*/
	width:100%;
	/*height: 500px;*/

}
iframe{
	width: 100%;
	border: none;
	height: 100%;
	padding: 0px 2px
}
