header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;	
}

header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:100%;
	
	margin-top: 10px;
}
/*#form>div:last-child{
	margin-left: 15px;
}*/

#form label{
	display: block;
	width: 100%;

}



input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

.titulo-tab{
	display: none;
}
