*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  width: 100%;
}


body{
  font-family: "Segoe UI", verdana, sans-serif;
  background-color: #fafafa;
  
}

#tabs .ui-tabs-nav{
  border: none !important;
  font-size: 14px !important;
}

#tabs .ui-widget-header{
  border:none !important;
  background-color: transparent !important;
}
#tabs .ui-widget {
    border: none !important;
    background: transparent !important;
    color: #333;
}
.ui-widget-content {
    border: none !important;
   
}

.ui-tabs .ui-tabs-panel{
  padding: 4px !important;
}



header{
  padding: 0px 4px 0px 0px;
  /*position: fixed;*/
  position: relative;
  border-bottom: 1px solid  #dedede;
  background-color: #ededed;
  overflow: hidden;
  /*left: 0;
  right: 0;*/
}



nav{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
}

#menu{
  height: 100%;
  
}
#menu li{
  padding: 0px 5px;
  display: inline-block;
  list-style: none;
  height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
  
  /*color:#030986;*/
  color:#222;
}

#menu li:hover {
  background-color: #ddd;
}

#menu a{
  text-decoration: none;
}
#menu span{
  color: #555;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  /*text-shadow: 0 1px 1px #0046a1;*/
}
#menu h6{
  color: #555;
  font-weight: normal;
  font-size: 0.7rem;
  /*text-shadow: 0 1px 1px #0046a1;*/
  
}

header h3{
  color:#555;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  
}

header h3 span{
  margin-right: 10px;
  font-size: 180%
}

#subheader{
  padding: 10px;
  background-color: #f5f5f5;
}

#subheader>div{
  display: inline-block;
}

#form>div{
  display: inline-block
}
.ui-datepicker{
    font-size:80% !important;
}

#form{
  width: 200px;
  padding: 20px;
  margin: auto;
}

#form label{
  /*color: #fff;*/
  margin-right: 4px;
  display: block;
  /*! margin-bottom: 5px; */
  font-size: .9rem;
}


input[type="text"],input[type="password"],select,input[type="date"],input[type="time"],textarea{
  border: 1px solid #e8e8e8;
  padding: 4px 2px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  font-family: "Segoe UI", verdana, sans-serif;
  font-size: 0.75rem;
  margin-bottom: 10px;
}
input[type="text"]:hover,input[type="password"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
  border: 1px solid #d8d8d8;
}
input[type="text"]:focus, input[type="password"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
  border: 1px solid #4C9ED9;
   
}

#contenido{
  /*margin-top: 10px;*/
  padding: 10px;
  height: calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
}

#contenido > h4{
	text-align: center;
	padding-top: 20px;
}

table{
  width: 100%;
  margin-top: 10px;
  font-size: 0.8rem;
  border-collapse:collapse;
  max-height: 100%;
  overflow-y: scroll;

}

table tr:nth-child(2n+1){
  
  background-color: #f0f0f0;
}

table tr.cabecera{
  background-color: #00034A;
}
table tr.cabecera td{
  color: #fff;
  text-align: center;
  padding: 8px 0px;
}

table tr.fila td{
  padding: 4px 0px;
  text-align: center;
  border: 1px solid #efefef;
}

table tr.fila:hover>td{
  cursor:pointer;
  background-color: #e5e5e5;
  
}

footer{
	clear: both;
	padding: 4px 0px;
	color:#8e8e8e;
	text-align: center;
	background-color: #f0f0f0;
}

footer p{
	font-size: 12px;
}

footer span{
	margin-right: 8px;
}
